* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

#buttontainer {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 50px 60px;
  margin: 100px auto;
  background: #ccc;
  border-radius: 10px;
  transform-style: preserve-3d;
}
#buttontainer div {
  padding: 20px 30px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

#btn4 {
  padding: 20px 30px;
  border-radius: 5px;
  width: fit-content;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 10000;
  background: #212121;
  color: #efefef;
  cursor: pointer;
}

.center-in-window {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a1 {
  background: #ffff66;
}

.a2 {
  background: #ffc966;
}

.a3 {
  background: #e600e6;
}

#rangetainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 100;
}

.rangetainer {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  padding: 10px 20px;
  background: #efefef;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*# sourceMappingURL=main.css.map */
